@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital@0;1&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}

p {
    font-family: "Genos", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    margin: 10% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 48px;
}

.apresentacao__conteudo__subtitulo {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 24px;
}

.imagem {
    width: 100%;
    height: auto;
    max-width: 300px;
}
